/* Reset issue where padding isn't included in dimensions of an element */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: lightblue;
    margin: 0px;
}
.inner {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: white;
    padding: 1em 0;
    /*font-size: 2em;
    font-weight: normal;*/
}
/*header div {
    display: inline;
    margin-left: 3em; 
}*/
.header__logo {
    font-size: 2em;
    font-family: 'Cookie', cursive;
}
/* Profile Area Styles */
.profile__image {
    border: 1px solid red;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}
.button {
    color: #4090db;
    text-decoration: none;
    border: 1px solid currentColor;
    padding: .4em 1em;
}
.button--blue {
    background-color: #4090db;
    color: white;
    border-color: #4090db;
    border-radius: 20px;
}